# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environments
.venv/
venv/
env/

key
key.pub
# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temp outputs
outputs/
cropped/
cropped_plates/
detected_plate*.jpg
temp_*.jpg
